.logo{
    margin-bottom: 50px;
}

.holderheader{
    height: 104px;
}

header{
    background-color: rgba(219, 226, 239, 1);
    padding: 1em 0;
}

header h1{
    margin-left: 20px;

    color: white;
    font-size: 6em;
    display: inline-block;
    position: relative;
    bottom: 70px;

    height: 100%;

    color:rgba(0, 0, 0, 1);
    font-style:normal;
    font-family:Bebas Neue;
    font-weight:400;
    font-size:96px;
    line-height:125px;

    background:linear-gradient(90deg, rgba(0, 12, 64, 1) 0%, rgba(96, 125, 139, 1) 100%);
    background-clip:text;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}