nav{
    background-color: #004e87;
    margin-bottom: 2em;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline-block;
    width: 16.3%;
    margin: 0;
}

nav ul li a{
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0.3em 0.6em;
}

nav ul li a:hover{
    background-color: #0079d3;
}

nav ul li a.activo{
    background-color: #0079d3;
    margin: 0;
}