body{
  font-size: 16px;
  line-height: 20px;

  min-height: 100vh;

  background:linear-gradient(-180deg, rgba(236, 233, 230, 1) 0.65%, rgba(255, 255, 255, 1) 84.02%);
}

.holder{
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

