.container-galery{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 180px;

    margin: 40px;

    gap: 15px;
}

.item-galery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 4px 4px rgba(0,0,0,0.2);
    border: solid #ffffff
}

.item-galery:nth-child(1){
    grid-row-start: span 2;
}

.item-galery:nth-child(8){
    grid-row-start: span 2;
}

.item-galery:nth-child(2){
    grid-column-start: span 3;
}

.item-galery:nth-child(4){
    grid-column-start: span 2;
}

.item-galery:nth-child(5){
    grid-column-start: span 2;
}

.item-galery:nth-child(6){
    grid-column-start: span 2;
}

.item-galery:nth-child(7){
    grid-column-start: span 2;
}

.item-galery:nth-child(10){
    grid-column-start: span 3;
}