.novedades{
    height: 300px;
    margin: 40px;

    display: grid;
    grid-template-columns: auto 1fr;

    background-color: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0,0,0,0.2);
}

.novedades img{
    height: 300px;
    width: 200px;

    object-fit: cover;
}

.novedades div{
    
    margin: 20px;
}

.novedades h2{
    margin-top: 10px;

    text-align: left;
    font-family: Montserrat;
    font-size: 32px;
    font-weight:600;
    color: #4e4e4e
}

.novedades p{
    text-align: left;
    font-family: Montserrat;
    font-size: 14px;
    font-weight:400;
    color: #4e4e4e
}